@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}
section, header{
    margin-bottom: 100px;
}
h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

.container {
    width: 1140px;
    margin: auto;
}

.flex {
    display: flex;
}

.main_head_container {
    background: black;
    color: white;
    border-radius: 20px;
    gap: 30px;
    align-items: center;
}

.header_text {
    width: 50%;
    padding: 0px 65px;
}

.head_img {
    width: 50%;
}

.head_img img {
    width: 85%;
    /* padding-top: 30px; */
    margin-bottom: -20px;
}

.header_text p {
    margin-bottom: 50px;
}

.header_text h1 {
    margin: 0;
}

.header_text a {
    text-decoration: none;
    color: white;
    background-color: rgb(231, 3, 91);
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
}